@CHARSET "UTF-8";
body{
	font-family: '微软雅黑','宋体'
}
input:HOVER{
	cursor: text;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
#topNav {
	height: 66px;
	width: 100%;
	background-color: #6089d4;
	position: fixed;
	top:0;
	left:0;
}

#topNav .title {
	height: 66px;
	line-height: 66px;
	margin-left: 50px;
	float: left;
}

#topNav .title a {
	color: #fff;
}

.plane:hover {
	text-decoration: none !important;
}

#loginInfo {
	margin-left: 20px;
	font-size: 12px;
	float: left;
	margin-top: 20px;
	
}

#loginInfo a,#extra a {
	color: #fff;
}

#userArrow {
	opacity: 0.45;
}

#extra {
	font-size: 12px;
	position: absolute;
	top: 5px;
	right: 10px;
}

#menu {
	position:fixed;
	width:17%;
	top:66px;
	left:0;
	background-color: #faf8f5;
	text-align: center;
	border: 1px solid #d3d5d5;
	border-left: 0;
/* 	height: 768px; */
/* 	width:228px; */
	background: url(resources/img/menu_bottom.png) no-repeat bottom center;
}

#menu > li >span{
	display:block;
	line-height: 31px;
	border-bottom: 1px solid #BFC8D8;
	border-top: 1px solid #fff;
	padding: 2px 0;
	color: #354b66;
}

#menu > li >span:hover ,#menu>li>ul>li:hover{
	text-decoration: none;
	background-color: #dbe2ee;
	cursor: pointer;
}

#menu > li> span.active ,#menu>li>ul>li.active {
	font-weight: bold;
	color: #fff;
	
	background-color: #829fd1;
}

#menu>li>ul{
	line-height: 2em;
//	padding-left:-15px;
	font-size:12px;
	
}
#menu>li>ul>li{
	padding: 2px 0;
	color: #354b66;
}

.content {
	border: 1px solid #C8CFDA;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 32px -15px 5px -15px;
	padding-bottom: 5px;
}
.panel{
	border:0px;
}
.contentTitle {
	height: 30px;
	color: #666;
	background-color: #f4f6f8;
	line-height: 30px;
	padding-left: 20px;
	border-bottom: 1px solid #C8CFDA;
	margin-bottom: 5px;
}


.toolbg {
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #a9c0df;
	background-color: #b6caed;
	padding-left: 15px;
	margin-top: 5px;
	position: relative;
	
	border-radius:3px;
	
	border:1px solid #a9c0df;
	background:-webkit-linear-gradient(top,#ffffff 0%,#b6caed 100%);
}

.prompt_text {
	font-weight: bold;
	color: #001b55;
}

th {
	text-align: center;
}

table {
	margin-top: 20px;
	font-size: 12px;
	table-layout: fixed;
}

table input {
	width: 100%; 
//	height: 32px;
}

#level{
	padding:0 4px;
	font-weight: bold;
}
/**selecttr和currtr是为utils.js保留的*/
.selecttr {
	cursor: pointer;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcebec),
		to(#fbf1f1)) !important;
}

.currtr {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcebec),
		to(#fbf1f1)) !important;
	font-weight: bold;
}

.currtr:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcebec),
		to(#fbf1f1)) !important;
}
/**========*/
.pagerInfo {
	position: absolute;
	top: 0px;
	right: 2px;
	font-size: 12px;
}

a[onclick]{
	cursor: pointer;
}
.red{
	color:red;
}
.blue{
	color:#2A6496;
}
.green{
	color:#5CB85C;
}
.gray{
	color:#666;
}
#home{
	margin-left:15px;
	
}
#home h1{
	font-size: 16px;
	font-weight: bold;
}
.entry{
	width:13%;
	text-align:center;
/* 	background-color: #d6dbe0; */
	margin:13px 10px;
	float:left;
	padding:5px;
}
.entry:hover{
	cursor:pointer;
	background-color: #d6dbe0;
}
tr{
	border-left:15px solid #ddd;
}
.clear{
	clear:both;
}
.tip{
	color:#eee;
	font-size:12px;
}
.btn-default{
	border:1px solid #888;
	color:#000000!important;
	background:-webkit-linear-gradient(top,#ffffff 0%,#ebebeb 90%,#F3F3F3 100%);
}

#content{
	position: fixed;
	top:66px;
	right:0px;
	width: 82%;
	overflow-y:scroll;
}